<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowPlaying.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowPlaying.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NowPlaying.Properties.Settings>
            <setting name="HelpURI" serializeAs="String">
                <value>https://github.com/scrub-dev/SpotifyNowPlaying</value>
            </setting>
        </NowPlaying.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <NowPlaying.Properties.Settings>
            <setting name="ServerRefreshInterval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SourcePort" serializeAs="String">
                <value>5001</value>
            </setting>
            <setting name="SocketPort" serializeAs="String">
                <value>5002</value>
            </setting>
            <setting name="SpotifyClientID" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyClientSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SpotifyRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="EnabledFeatures" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="DisplayHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UseCustomStyle" serializeAs="String">
                <value>False</value>
            </setting>
        </NowPlaying.Properties.Settings>
    </userSettings>
</configuration>
